html {
  font-size:$_fsDefault;
  font-family:$_ffDefault;
  background:$_cBackgroundPage;
  color:$_cTextDefault;
  overflow:auto;
  line-height:1.4em;
}

html,
body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

body {
  overflow:visible;
}

.link {
  text-decoration:underline;
  color:inherit;
  cursor:pointer;
}