$_fsDefault : 14px;
$_fsIcon : 32px;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
$_ffDefault : 'Open Sans', Helvetica, Arial, sans-serif;

$_cBackgroundPage : #eee;
$_cBackgroundFrame : #fff;
$_cBackgroundSidebar : #444;

$_cTextDefault : #333;
$_cTextSidebar : #fff;
$_cTextSidebarCaption : #ccc;

$_cBorderLight : #ccc;
$_cBorderDark : #777;

$_cActive : #caff00;

$_sDefault : 10px;

$_wSidebar : 250px;