<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>eyetracking - remote</title>
  <link rel="stylesheet" href="styles/main.css" />
  <script src="scripts/bundle.js"></script>
</head>
<body ng-app="application" ng-controller="AppCtrl as app">
  <aside class="sidebar">
    <div class="sidebar__caption">Servers</div>
    <ul class="sidebar__list sidebar__list--switcher" ng-class="{ 'sidebar__list--disabled' : app.servers.connectionStatus === 'connecting' }">
      <li ng-repeat="server in app.servers.items" ng-class="{ active : app.servers.active === server }" ng-click="app.servers.setActive(server)">
        <span ng-bind="server"></span>
        <span class="fa fa-times" stop-propagation="click" ng-click="app.servers.remove(server)"></span>
      </li>
      <li class="add" ng-click="app.servers.add()">Add a server...</li>
    </ul>

    <div class="sidebar__caption" ng-if="app.servers.connectionStatus === 'up'">Tests</div>
    <ul class="sidebar__list sidebar__list--switcher" ng-class="{ 'sidebar__list--disabled' : app.servers.connectionStatus === 'connecting' }" ng-if="app.servers.connectionStatus === 'up'">
      <li ng-repeat="test in app.tests.items" ng-class="{ active : app.tests.active === test._id }" ng-click="app.tests.setActive(test._id)" ng-bind="test.name"></li>
      <li class="add" ng-click="app.tests.add()">Start a new test...</li>
    </ul>
  </aside>

  <section class="test">
    <div class="message" ng-if="!app.servers.items.length">Welcome! Please add a server before you can start testing...</div>
    <div class="message" ng-if="app.servers.items.length && (app.servers.connectionStatus === 'idle' || app.servers.connectionStatus === 'connecting')">
      <span class="fa fa-plug"></span>
    </div>
    <div class="message" ng-if="app.servers.items.length && app.servers.connectionStatus === 'down'">
      <span class="fa fa-plug"></span>
      <span class="fa fa-bolt"></span>
    </div>
  </section>
</body>
</html>