<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>eyetracking - remote</title>
  <link rel="stylesheet" href="styles/main.css" />
  <script src="scripts/bundle.js"></script>
</head>
<body ng-app="application" ng-controller="AppCtrl as app">
  <aside class="sidebar" ng-style="{ height : (app.users.active && app.users.dataRunning ? (app.users.dataRunning.screen_height || 0) : 0) + 'px' }">
    <div class="sidebar__caption">Servers</div>
    <ul class="sidebar__list sidebar__list--switcher" ng-class="{ 'sidebar__list--disabled' : app.servers.connectionStatus === 'connecting' }">
      <li ng-repeat="server in app.servers.items" ng-class="{ active : app.servers.active === server }" ng-click="app.servers.setActive(server)">
        <span ng-bind="server"></span>
        <span class="fa fa-times" stop-propagation="click" ng-click="app.servers.remove(server)"></span>
      </li>
      <li class="add" ng-click="app.servers.add()">Add a server...</li>
    </ul>

    <div class="sidebar__caption" ng-if="app.servers.connectionStatus === 'up'">Tests</div>
    <ul class="sidebar__list sidebar__list--switcher" ng-class="{ 'sidebar__list--disabled' : app.tests.busy }" ng-if="app.servers.connectionStatus === 'up'">
      <li ng-repeat="test in app.tests.items" ng-class="{ active : app.tests.active === test._id }" ng-click="app.tests.setActive(test._id)" ng-bind="test.name"></li>
      <li class="add" ng-click="app.tests.add()">Start a new test...</li>
    </ul>

    <div class="sidebar__caption" ng-if="app.servers.connectionStatus === 'up'">Users</div>
    <ul class="sidebar__list sidebar__list--switcher" ng-class="{ 'sidebar__list--disabled' : app.users.busy }" ng-if="app.servers.connectionStatus === 'up'">
      <li ng-repeat="user in app.users.items" ng-class="{ active : app.users.active === user._id }" ng-click="app.users.setActive(user._id)">
        <span ng-bind="user.name"></span>
        <span ng-if="user.is_running">
          &#160;
          <span class="fa fa-eye"></span>
        </span>
      </li>
    </ul>
  </aside>

  <section class="test">
    <div class="message" ng-if="!app.servers.items.length">
      Welcome! Please add a server before you can start testing...
    </div>
    <div class="message" ng-if="app.servers.connectionStatus === 'up' && app.servers.active && app.tests.active && !app.users.active">
      Please select a user from the sidebar. New users automatically appear once they start a test.
    </div>

    <div class="message" ng-if="app.servers.items.length && (app.servers.connectionStatus === 'idle' || app.servers.connectionStatus === 'connecting')">
      <span class="fa fa-plug"></span>
    </div>
    <div class="message" ng-if="app.servers.items.length && app.servers.connectionStatus === 'down'">
      <span class="fa fa-plug"></span>
      <span class="fa fa-bolt"></span>
    </div>

    <div class="test__container" ng-if="app.servers.connectionStatus === 'up' && app.users.active && app.users.dataRunning" ng-style="{ width : (app.users.dataRunning.screen_width || 0) + 'px', height : app.users.dataRunning.screen_height + 'px' }">
      <iframe class="frame" ng-src="{{ app.users.dataRunning.last_page_url | rawSrc }}"></iframe>
      <div class="frame__overlay"></div>
    </div>
  </section>
</body>
</html>