<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>eyetracking - client</title>
  <link rel="stylesheet" href="styles/main.css" />
  <script src="scripts/bundle.js"></script>
</head>
<body>
  <div class="message step" data-step="welcome">
    Welcome to this test @todo load test name from server. Put some generic explanatory stuff in here and @todo load test description from server.
    <button class="inline" data-action="next">OK, continue</button>
  </div>
  <div class="message step" data-step="calibrate">
    Please wait until calibration tool has been loaded. Then follow the instructions...
  </div>
  <div class="message step" data-step="user">
    @todo: everything, also implement prev() and add a button here in case user wants to re-calibrate. also, maybe add a test button?
  </div>
</body>
</html>