<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>eyetracking - client</title>
  <link rel="stylesheet" href="/styles/main.css" />
  <script src="/scripts/bundle.js"></script>
</head>
<body data-step-initial="welcome">
  <div class="message step" data-step="welcome">
    <span class="text"></span>
    <button class="inline" data-action="next" autofocus>OK, continue</button>
  </div>
  <div class="message step" data-step="calibrate">
    Please wait until calibration tool has been loaded. Then follow the instructions...
  </div>
  <div class="message message-wide step" data-step="user">
    <form>
      Please enter your name: <input type="text" id="user_name" class="input__text" autofocus /><br />
      Then click <button type="button" class="inline" data-action="next" disabled="disabled">here</button> to continue with the test.
    </form>
  </div>
  <div class="message step" data-step="prepare">
    <span class="text"></span>
    <button class="inline" data-action="next" autofocus>OK, start the test!</button>
  </div>
  <div class="step" data-step="start">
    <iframe class="frame" id="test_frame" sandbox=""></iframe>
  </div>
  <div class="message step" data-step="exit">
    Thanks a lot for your time! :)
  </div>
</body>
</html>