$_fsDefault : 13px;
$_fsMessage : 34px;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
$_ffDefault : 'Open Sans', Helvetica, Arial, sans-serif;

$_cBackgroundPage : #eee;
$_cBackgroundFrame : #fff;

$_cTextDefault : #333;
$_cTextContinue : #caff00;

$_sNormal : 10px;
$_sBig : 50px;

$_wMaxParagraph : 1000px;

$_brNormal : 5px;

$_tFast : 0.3s;