button {
  transition:opacity $_tFast;
  padding:10px 20px;
  cursor:pointer;
  color:$_cActive;
  border:0 none;
  background:$_cTextDefault;
  border-radius:$_brNormal;

  &.inline {
    margin:0 $_sDefault;
  }

  &[disabled] {
    opacity:0.7;
    cursor:not-allowed;
  }
}