.control {
  position:fixed;
  bottom:$_sBig;
  right:$_sBig;
  background:$_cTranspDarkMajor;
  color:$_cTextSidebar;
  padding:$_sDefault;
  border-radius:$_sDefault / 2;
  white-space:nowrap;
  z-index:2;

  &__item {
    display:inline-block;
    margin:0 $_sDefault;
    line-height:32px;

    &--label {
      margin-bottom:$_sDefault / 2;
      line-height:1;
    }

    select {
      max-width:300px;
      background:transparent;
      border:1px solid $_cBackgroundWhite;
      padding:$_sDefault / 2;
      color:$_cBackgroundWhite;
      cursor:pointer;
      appearance:none;

      option {
        background:$_cTranspDarkMajor;
      }
    }

    input[type="range"] {
      vertical-align:middle;
    }

    &--button {
      transition:border-color $_tFast, color $_tFast;
      display:inline-block;
      padding:10px;
      border:1px solid $_cBorderLight;
      cursor:pointer;
      border-radius:$_brLight;
      user-select:none;

      &.active {
        color:$_cActive;
        border-color:$_cActive;
      }
    }
  }
}