.eye {
  &__current {
    position:absolute;
    width:8px;
    height:8px;
    border-radius:4px;
    margin-left:-4px;
    margin-top:-4px;
    background:red;
    box-shadow:0 0 8px 4px red;
    z-index:2;
  }
}